.blog-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  width: 100%;
  padding: 0 !important;
}
.blog-flex .f-entry-img {
  display: table;
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}

.blog-flex .f-entry-img,
.blog-flex .blog-entry {
  width: 50%;
  display: inline-block;
}
.blog-entry {
  padding: 3em 4em;
}
.blog-post .img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 90px;
  height: 90px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 4px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.blog-post .desc {
  padding-left: 110px;
}
.blog-post .desc h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
}
